<div class="container">
  <div class="welcome">
    <div class="welcome-text">
      <h1 class="welcome-title">Saving projects just got a whole lot
          <span class="typer" id="main" data-words="easier, faster, cleaner, funner" data-colors="rainbow" data-delay="100" data-deleteDelay="1000"></span>
          <span class="cursor" data-owner="main"></span>
      </h1>
      <!-- <p class="welcome-tagline">Saving projects just got a whole lot
        <span class="typer" id="main" data-words="easier, faster, cleaner, funner" data-colors="rainbow" data-delay="100" data-deleteDelay="1000"></span>
        <span class="cursor" data-owner="main"></span>
      </p> -->
      <button class="welcome-button">
        <a href="../posts/">Start Now</a>
      </button>
    </div>
  </div>
</div>
