<div class="container">
  <div class="first-section">
    <div class="welcome-text">
      <h1 class="welcome-title">
        <span class="typer" id="main" data-words="Welcome to {{title}}, Hello there, Get Started" data-colors="rainbow" data-delay="100" data-deleteDelay="1000"></span>
        <span class="cursor" data-owner="main"></span>
      </h1>
      <button class="welcome-button">
        <a href="../posts/">Start Now</a>
      </button>
    </div>
  </div>

  <div class="second-section">
    <div class="gridCentered">
      <h2 class="section-title">Simple & Organized</h2>
    </div>
    <p class="about-tagline">Storing projects just got a whole lot easier.</p>
    <div class="steps">
      <div class="step">
        <img class="step-img" src="../images/photo.png">
        <h3 class="step-title">Photo</h3>
        <p class="step-description">Take a picture of your project</p>
      </div>
      <div class="step">
        <img class="step-img" src="../images/info.png">
        <h3 class="step-title">Info</h3>
        <p class="step-description">Include a title, photo, date & description</p>
      </div>
      <div class="step">
        <img class="step-img" src="../images/upload.png">
        <h3 class="step-title">Upload</h3>
        <p class="step-description">Post your work to your portfolio</p>
      </div>
    </div>
  </div>

  <div class="third-section">
    <div class="reasons">
      <img src="../images/galleree-post.png" id="reasons-img">
      <div class="reasons-list">
        <h2 class="reasons-title">Why Galleree?</h2>
        <li>All of your work in one place</li>
        <li>View and share projects online, anytime</li>
        <li>For anyone who creates a lot of content</li>
      </div>
    </div>
</div>
</div>
