<div class="container">
  <div class="welcome">
    <div class="welcome-text">
      <h1 class="welcome-title">Welcome to {{title}}</h1>
      <button class="welcome-button">
        <a href="../posts/">Start Now</a>
      </button>
    </div>
  </div>
</div>
