<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h5>Quick Access</h5>
<ul>
  <li><a href="../posts">Posts</a></li>
  <li><a href="../posts/new">Create New Post</a></li>
  <li><a href="../users">User Index</a></li>
  <li><a href="../users/new">Create New User</a></li>
  <li><a href="../login">Login</a></li>
<ul>
