<div class="container">
  <div class="welcome">
    <div class="welcome-text">
      <h1 class="welcome-title">
        <span class="typer" id="main" data-words="Hello there, Welcome to {{title}}" data-colors="rainbow" data-delay="100" data-deleteDelay="1000"></span>
        <span class="cursor" data-owner="main"></span>
      </h1>
      <button class="welcome-button">
        <a href="../posts/">Start Now</a>
      </button>
    </div>
  </div>
</div>
