<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav class="navbar">
      <div class="nav-button">
        <a class="navbar-brand" href="/">Galleree</a>
      </div>

      <div class="navbar-text">
        {{# if currentUserId}}
          <a class="nav-button username" href="/posts">{{username}}</a>
          <a class="nav-button" href="/logout">Log Out</a>
        {{else}}
          <a class="nav-button" href="/login">Log In</a>
        {{/if}}
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>

</html>
