body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  padding: 1em 2em;
}

form {
  max-width: 20em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px
}

.post {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
