body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Georgia, serif;
  background-color: #f0f0f0;
}

a {
  color: #640e27ff;
}

form {
  max-width: 20%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding: 15px;
  margin-bottom: 1em;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.post {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  padding: 1em;
  background-color: #fefefe;
  border-radius: 10px;
}

.welcome {
  padding: 20%;
  background-color: #fefefe;
}

.button a {
  /* background-color: #640e27ff; */
  /* color: white; */
}

.container {
  background-color: #fefefe;
  margin-bottom: 1em;
}
