body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Helvetica neue";
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button {
    color: #fefefe;
    border-color: transparent;
    font-size: 1em;
    background-color: #640e27ff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 15px 0px 5px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
  background-color: #560019;
}

.button {
  color: #fefefe;
  border-color: transparent;
  font-size: 1em;
  background-color: #640e27ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #560019;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: solid #efefef .1em;
}

.navbar-brand {
  color: #640e27ff;
  font-size: 1.25em;
  font-weight: 400;
}

.navbar-brand img {
  height: 1.25em;
  width: 1.25em;
}

#nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  color: #8E8E8E;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

.username {
  color: #333333;
}

.nav-button:hover {
  background-color: #efefef;
}

.post {
  display: flex;
  padding: 1em;
  margin: .5em;
  background-color: #fefefe;
  border-radius: 10px;
  height: 230px;
  width: 236px;
}

.post:hover {
  background-color: #efefef;
}

.post img {
  align-items: center;
  height: 175px;
  width: 236px;
  object-fit: cover;
  border-radius: 10px;
}

.post-text {
  color: #333333;
}

.post-title {
  font-size: 1.25em;
  font-weight: 500;
  margin: .5em 0 .3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 236px;
}

.post-description {
  color: #8E8E8E;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 236px;
}

.first-section {
  margin-top: -1em;
  height: 90vh;
  width: 100vw;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0vw 90vh rgba(3, 3, 3, 0.3) inset;
}

.welcome-title {
  font-size: 3em;
  font-weight: normal;
}

.welcome-text {
  margin: 20% 10%;
  color: #fefefe;
}

.welcome-button {
  margin: 0px;
}

.first-section a {
  color: #fefefe;
}

.second-section {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 5em;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-bottom: 0px;
  font-size: 2em;
  font-weight: 500;
  color: #640e27ff;
  display: inline;
}

.about-tagline {
  margin: 1em 1em 2em;
  font-size: 1.25em;
  color: #333333;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  height: 100%;
  width: 75%;
}

.step {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.step:hover {
  background-color: #efefef;
}

.step-img {
  height: 100px;
  padding-top: 1em;
}

.step-title {
  color: #333333;
  font-size: 1.5em;
  font-weight: 500;
}

.step-description {
  color: #8e8e8e;
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 0px;
  padding: 0px 1em;
}

/* .third-section {
  background-color: #efefef;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
  margin: 5em 0px;
  padding: 1em;
}

#reasons-img {
  width: 350px;
  border-radius: 10px;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reasons-list li {
  color: #333333;
  margin: .5em;
  font-size: 1.25em;
}

.reasons-title {
  color: #640e27ff;
  font-weight: 500;
  font-size: 2em;
} */

.post-index {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.input-text {
  border: 1px #8E8E8E solid;
  border-radius: 10px;
  padding: 1em;
  outline: none;
}

label {
  margin: .2em;
  padding: 0px 10px;
}

textarea {
  resize: none;
}

#post-description {
  margin: 0px;
  width: 50vw;
}

.show-post {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 75%;
  border-radius: 10px;
}

.show-post img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  object-fit: cover;
  margin-top: 1em;
}

.show-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 2.5% 5em;
}

.show-title {
  font-size: 1.25em;
  font-weight: 500;
  margin: .5em 0 .3em;
}

.show-date {
  color: #8E8E8E;
  margin: 0px;
}

.show-description {
  color: #333333;
  margin: 1em 0px;
}

.link {
  color: #640e27ff;
  text-decoration: underline;
}

.gridCentered {
    margin-left: auto;
    margin-right: auto;
}

.control-button {
  color: #8E8E8E;
  background-color: transparent;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

.control-button:hover {
  background-color: #efefef;
}

#back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  position: fixed;
  top: 50px;
  left: 10px;
  padding: 10px;
}

#settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 10px;
}

#edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  position: fixed;
  top: 100px;
  right: 0px;
  padding: 10px;
}

#delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  position: fixed;
  top: 110px;
  right: 0px;
  padding: 10px;
}

#share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  position: fixed;
  top: 145px;
  right: 0px;
  padding: 10px;
}

#top-arrow {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

#bottom-arrow {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.link-button {
  padding-bottom: 5px;
}

#copied-link {
  position: fixed;
  top: 170px;
  right: 60px;
  color: #8E8E8E;
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

#shareable-link {
  outline: none;
}

.footer {
  background-color: #640e27ff;
  color: #fefefe;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -1em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .timeline {
    display: grid;
    grid-column-gap: 1em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .timeline {
    display: grid;
    grid-column-gap: 1em;
  }
  .back-text {
    visibility: hidden;
  }
  .steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1em;
  }
  .reasons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1em;
  }
  .reasons-title {
    margin-top: 3em;
  }
  .section-title {
    font-size: 1.5em;
  }
  .about-tagline {
    font-size: 1.2em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    height: 100%;
    width: 75%;
  }

  #post-description {
    margin: 0px;
    width: 25vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    height: 100%;
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .timeline {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    height: 100%;
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .timeline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    height: 100%;
    width: 75%;
  }
}
