<div class="page-title">
  <h1>All Posts</h1>
    <a class="button" href="../posts/new">New Post</a>
</div>

<div class="container">
  <div class="timeline">
      {{#each posts as |post|}}
        <div class="post">
          <a href="/posts/{{post.id}}">
            <img src={{post.picUrl}}>
            <div class="post-text">
              <h2 class="post-title">{{post.title}}</h2>
              <p class="post-date">{{post.date}}</p>
            </div>
          </a>
        </div>
      {{/each}}
  <div>
</div>
