<div>
  All Posts
</div>

<div>
  <ul>
    {{#each posts as |post|}}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
        <p>{{post.description}}<p>
      </li>
    {{/each}}
  </ul>
<div>
