<style type="text/css">
  html {
    scroll-behavior: smooth;
  }
</style>
<div>
    <a class="control-button up-arrow" title="Top" id="top-arrow" href="#">
      <img src="../images/up-arrow.png" width=20px height=20px>
    </a>
    <a class="control-button down-arrow" title="Bottom" id="bottom-arrow" href="javascript: document.body.scrollIntoView(false);">
      <img src="../images/down-arrow.png" width=20px height=20px>
    </a>
</div>

<div class="first-section">
  <h1 class="page-title">All Posts</h1>
    <a class="button" href="../posts/new">New Post</a>
</div>

<div class="container">
  <div class="grid-centered">
    <div class="timeline">
        {{#each posts as |post|}}

          <div class="post">
            <a href="/posts/{{post.id}}">
              <img src={{post.picUrl}}>
              <div class="post-text">
                <h2 class="post-title">{{post.title}}</h2>
                <p class="post-date">{{post.date}}</p>
                <script>

                </script>
              </div>
            </a>
          </div>
        {{/each}}
    <div>
  </div>
</div>
