<div class="container">
  <form action="/posts" method="post" enctype="multipart/form-data">
    <h1>New Project</h1>

    <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" name="title" class="form-control" id="post-title" placeholder="Title" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="post-title">Image</label>
      <input type="file" name="picUrl">
    </div>

    <div class="form-group">
      <label for="post-description">Description</label>
      <textarea name="description" class="form-control" id="post-description" rows="3" placeholder="Describe your project..."></textarea>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
