<div class="container">
  <div class="show-post">
    <div>
      <img class="show-pic gridCentered" src={{post.picUrl}}>
    </div>
    <div class="show-text">
      <h2 class="show-title">{{post.title}}</h2>
      <p class="show-date">{{post.date}}</p>
      <p class="show-description">{{post.description}}</p>
    </div>
  </div>
</div>
