<div class="container">
  <div class="show-post">
    <div>
      <img class="show-pic gridCentered" src={{post.picUrl}}>
    </div>
    <div class="show-text">
      <h2 class="show-title">{{post.title}}</h2>
      <p class="show-date" id="show-post-date"></p>
      <p class="show-description">{{post.description}}</p>
    </div>
  </div>
</div>

<script>
  var date = new Date("{{post.date}}");
  var month = date.getUTCMonth()+1;
  var day = date.getUTCDate();
  var year = date.getUTCFullYear();

  var formatted_date = month+"/"+day+"/"+year;
  document.getElementById("show-post-date").innerHTML = formatted_date;
</script>
